# /config
.history
public
dist
.vscode
node_modules
src/utils/utils
config/index
deploy
@/utils/utils
__MOCK__
MOCK
src/assets/iconfont

*.json
*.html
*rc.js
*.svg
*.woff
*.ttf
*.css

.nuxt
.husky
README.md
declaration.d.ts
*nuxt.config.ts
src/middleware/*.ts
.eslintrc.cjs
src/plugins/*.ts