# /config
.history
public
dist
.vscode
node_modules
src/utils/utils
config/index
deploy
@/utils/utils
__MOCK__
MOCK
src/assets/
src/main
build
output
.nuxt
.husky
.eslintcache
.eslintrc.cjs
declaration.d.ts
package-lock.json
README.md 
tsconfig.json
.prettierrc.cjs
nuxt.config.ts
package.json